html {
  font-size: 62.5%; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

h2 {
  line-height: 18px;
  margin-bottom: 17px; }

h3 {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0;
  color: #887f69;
  font-weight: 600;
  margin-bottom: 15px; }

h4 {
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #887f69;
  font-weight: 600;
  margin-bottom: 6px; }

body {
  background: #f9f8f6; }

header {
  padding-top: 15px;
  padding-bottom: 5px; }
  header .menu_and_icon img {
    padding: 3px 3px; }
  header .menu_and_icon .pc_menu_and_icon {
    padding-top: 15px; }
  header .menu_and_icon .sp_navi_li {
    width: 180px;
    position: absolute;
    top: 70px;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none; }
    header .menu_and_icon .sp_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .menu_and_icon .sp_navi_li li a {
        display: block;
        padding: 6px 10px;
        border-bottom: 1px solid #eee;
        color: #887f69;
        font-size: 14px;
        font-size: 1.4rem;
        text-decoration: none;
        text-align: left; }
  @media (max-width: 549px) {
    header {
      text-align: center; }
      header .pc_logo, header .pc_menu_and_icon {
        display: none; } }
  @media (min-width: 550px) {
    header {
      padding: 30px 0; }
      header .sp_logo, header .sp_icon {
        display: none; }
      header .pc_menu_and_icon {
        text-align: right; }
        header .pc_menu_and_icon img {
          padding-left: 7px; } }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px; }
.owl-theme .owl-dots {
  text-align: left; }
  .owl-theme .owl-dots .owl-dot span {
    background: #b0b0b0;
    width: 25px;
    height: 2px;
    margin-left: 0;
    margin-right: 10px;
    border-radius: 0; }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #9d1a2d; }

main section .section_title {
  text-align: center; }
main section p {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 8px; }
main .new h5 {
  margin-top: 3px; }
main .popular h2 {
  margin-top: 10px; }
main .items div {
  box-sizing: border-box;
  max-width: 50%;
  float: left;
  padding: 8px;
  border: 1px solid #f9f8f6;
  background: white; }
main .guide h2 {
  margin-top: 20px; }
main .guide img {
  padding-bottom: 8px; }
main .guide div {
  background: white;
  box-sizing: border-box;
  padding: 15px 15px 20px;
  border-bottom: 5px solid #f9f8f6; }
  main .guide div span.square {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: #887f69;
    margin-right: 1px; }

aside .item_search {
  background: white;
  padding: 22px 18px;
  margin: 10px 0; }
  aside .item_search .search_box {
    background: #eee;
    padding: 3px 8px 3px 12px; }
    aside .item_search .search_box span {
      color: #b5b5b5; }
    aside .item_search .search_box #search_icon {
      margin-top: 4px;
      float: right; }

/*# sourceMappingURL=style.css.map */
