@import "compass";
@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$background : #f9f8f6;
$sub-gold : #887f69;
$background-daken : #e2ddd4;
$key-silver : #b0b0b0;
$key-red : #9d1a2d;

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

h2 {
  line-height: 18px;
  margin-top: 24px;
  margin-bottom: 16px
}  


h3 {
  @include fontsize(16);
  letter-spacing: 0;
  color: $sub-gold;
  font-weight: 600;
  margin-bottom: 15px;
}

h4 {
  @include fontsize(12);
  letter-spacing: 0;
  color: $sub-gold;
  font-weight: 600;
  margin-bottom: 6px;
}  

body {
  background: $background;
}

header {
  padding-top: 15px;
  padding-bottom: 5px;
  
  .navi {
    img {
      padding: 3px 3px;
    }
    .pc_navi {
      padding-top : 15px;
    }
    
    .sp_navi_li{
  width: 160px;
  position: absolute;
  top:70px;
  right:2%;
  z-index: 100;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding:0;
  display: none;

  li{
    list-style: none;
    margin: 0;
    padding: 0;
    
    a{
      display: block;
      padding: 6px 10px;
      border-bottom: 1px solid #eee;
      color: $sub-gold;
      @include fontsize(14);
      text-decoration: none;
      text-align: left;
       }
     }
   }
 }

  @media (max-width: 549px) {
    text-align: center;
    .pc_logo , .pc_navi {
    display: none;
    }
  }
// header sp

  @media (min-width: 550px) {
    padding: 30px 0;
      .sp_logo, .sp_fb, .sp_insta, #sp_navi_btn {
        display: none;
      }
      .pc_navi {
        text-align: right;
          img {
            padding-left : 7px;
      }
    }
  }
}  
// header pc
// header

.owl-theme {
  .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
  }
  .owl-dots {
  text-align: left;
    .owl-dot span {
      background: $key-silver;
      width: 25px;
      height: 2px;
      margin-left: 0 ;
      margin-right: 10px;
      border-radius: 0;
      }
    .owl-dot.active span {
      background: $key-red;
    }    
  }
}  
// carousel

#main {
  section {
    .section_title {
      display: -webkit-flex;
      display:         flex;
      justify-content: center;
      .center_line {
        display: block;
        width: 100%;
        height: 1px;
        margin: 5.5px 0;
        background: $background-daken;
        @media (max-width: 549px) {
        display: none;
      }
    }
    img {
      margin: 0 6px;        
    }
  }
    p {
      @include fontsize(12);
      margin-bottom: 8px;
    }
  }
  .new_items {
    h2 {
      margin-top : 10px;
    }
  }

  .new_items, .popular_items, #recent_pro {
    div {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 8px;
      border: 1px solid $background;
      background:white;
    }
  }
  #guide {
    img {
      padding-bottom: 8px;
    }
    div.flex-container {
      padding: 0;
      border-bottom: 0;
    }
    div.box_1, .box_2 {
      background: white;
      box-sizing: border-box;
      padding: 15px 15px 20px;
      border-bottom: 5px solid $background ;
        span.square {
          display: inline-block;
          width: 9px;
          height: 9px;
          background: $sub-gold;
          margin-right: 1px;
      }
    }
  }
}
// #main sp

@media (min-width: 550px) {
  #main {
    section h2 {
      margin: 32px 0 24px;
    }
      .new_items h2 {
      margin-top: 15px; 
    }
    .new_items, .popular_items, #recent_pro {
      div {
      width: 33.33333%;
      }
    }
      #guide { 
        .box_1 {
          width: 50%;
          margin-right: 3px;
      }
        .box_2 {
          width: 50%;
          margin-left: 3px;
      }
        .flex-container {
          display: -webkit-flex;
          display:         flex;
          justify-content: center;
      }
    }
  }
}
//main pc

#side_menu {
  .search {
    background: white;
    padding: 22px 18px; 
    margin: 10px 0;
      img.item_search {
        @media (max-width: 549px) {
          display: none;
        }
      }
      .search_box {
      background: #eee;
      padding: 3px 6px 3px 8px;
        span {
          color: #b5b5b5;
          font-style: italic;
        }
        .search_icon {
          margin-top: 4px;
          float: right;
      }      
    }
  }
  .link, .categories, .about, .shop_info {
    background: #887f69;
    padding: 10px 15px;
    margin-top: 10px;
      }
  .category_name {
  background: white;
  padding: 10px 15px;
  margin-bottom: 2px;
  @include fontsize(12);
    }
  .right {
    margin-top: 4px;
    float: right;
   }
  .below {
    margin-top: 8px;
    float: right;
  }
  .about_box, .info_box {
    background: white;  
    .about_image, .info_image {
      box-sizing: border-box;
      padding: 10px;
      @media (max-width: 549px) {
      width: 50%;
      float: left;
      }
    }
    .contents_box {
      box-sizing: border-box;
      padding: 10px 10px 5px 0;
      @media (max-width: 549px) {
      width: 50%;
      float: left;
      }
      p {
        @include fontsize(11);  
        margin-bottom: 8px;
      }  
    }
  }
}
//#side_menu sp

@media (min-width: 550px) {
  #side_menu {
    .search {
      margin-top: 0;
      padding-top: 12px;
      img.item_search {
        margin-bottom: 4px;
      }
      .search_box {
        
        span {
          @include fontsize(14);
          
        }
      }
    }
    .right { 
      margin-top: 1px;
    }
    .pagelink {
      margin-top: 4px;
    }
    .about_box {
      .about_image {
        padding-bottom: 5px;        
      }
      .contents_box {
        padding: 0 10px;
        .btn_more {
          text-align: center;
          padding: 5px 0 10px;
        }
      }
    }
    .info_box {
      .info_image {
        padding-bottom: 5px;
      }
      .contents_box {
        padding: 0 10px;
        .btn_more {
          text-align: center;
          padding: 5px 0 10px;
        }        
      }
    }
  }
}
// #side_menu pc


footer {
  text-align: center;
  @media (min-width: 550px) {
    div.page_top {
      text-align: right;
    }
  }
  .page_top {
    padding: 20px 0;
    border-bottom: 1px solid $sub-gold;
    }
  ul {
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
      margin-bottom: 0;
      @include fontsize(12);
      }
    a {
      color: #222;
      text-decoration: none;
      }  
    }
  .footer_navi { 
    margin: 10px 0 8px;
    }
  .copy {
    @include fontsize(11);
    color: $background-daken;
  }
}
// footer
// toppage


// list ↓↓↓ -----------------------------------------------------------

section#breadcrumbs {
  background: $background-daken;
  padding: 7px 10px 6px;
  margin-bottom: 13px;
  img {
    margin-right: 4px;
  }
  p{
    display:inline;
    color: $sub-gold;
    @include fontsize(11);
    margin-bottom: 100px;
    vertical-align: 1px;
  }
}
// #breadcrumbs

.category_image {
  @media (max-width: 549px) {
    .category_img_pc {
      display: none;
    }
  }
  @media (min-width: 550px) {
    .category_img_sp {
      display: none;
    }        
  }
}
// .category_image

#main {
  .item_list {
    .item_box {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 8px;
      border: 1px solid $background;
      background:white;
      @media (min-width: 550px) {
        width: 33.33333%;
      }  
    }
  .btn_area {
    padding: 23px 0 8px;
      span.back_btn {
        color: white;
        @include fontsize(13);
        padding: 8px 38px 6px;
        background: $sub-gold;
        float: left
      }
      span.next_btn {
        color: white;
        @include fontsize(13);
        padding: 7px 38px;
        background: $sub-gold;
        float: right;
      }
    }
  }
}
// item_list
// list

// details ↓↓↓ -----------------------------------------------------------

#main {
  .back_white {
    background: white;
 }
  #pro_details {
    .pro_name {
      padding: 15px 0 5px;
      margin-bottom: 8px;
      border-bottom: solid 1px $background-daken;
        div {
          font-weight: 800;
          letter-spacing: 0.05em;
        }
    span { 
      @include fontsize(11);
      color: $key-silver;
      vertical-align: top;
      }
    }
    #display_img {
      img {
        display: block;  // imgをinlineのままにしとくと、vertical-align:baselineとcontents area下辺の隙間ができちゃうので。li内も同様
      }
    }
    ul#list_img {        
      @include display-flex;    // サムネイルをflex
      @include justify-content(space-between); // 最初と最後のアイテムは端に、残りは等間隔で配置 (cf.space-around)
      @include flex-wrap(wrap); //行の折り返しあり (cf.nowrap)
      list-style: none;
      margin: 8px 0 8px;
      li {
        width: calc( ( 100% - 20px ) / 5 ); // calcの後にスペース入れると壊れるみたい 隙間20pxをspace-betweenで等間隔に
        margin-bottom: 0;
          &:nth-child(n+6) {  // n番目以降に適用
            margin-top: 5px;
          }
          img {
          display: block;
          cursor: pointer;
        }
      }
    }
    .color_and_size {
      border-top: solid 1px $background-daken;
      h2 {
        margin-top: 4px;
      }
      table {
        border: solid 1px $background-daken;
        width: 100%;
        margin-bottom: 13px;
        th, td {
          padding: 10px 15px 8px;
          border: solid 1px $background-daken;
          width: 33.333%;
          @include fontsize(12);
          font-weight: 400;
          color: $sub-gold;
          text-align: center;
        }
        th, td:first-child {
          background: $background;
        }
        .check_box {
          display: inline-block;
          width: 11px;
          height: 11px;
          border: solid 1px $background-daken;
          text-align: center;
          vertical-align: -2px;
        }
      }
    }
    .price_and_quantity {
      .price {
        border-top: solid 1px $background-daken;
        margin-bottom: 9px;
          h2 {
            width: 20%;
            margin: 13px 0;
            float: left;
          }
        div {
          width: 80%;
          margin-top: 8px;
          text-align: center;
          font-style: italic;
          font-weight: 400;
          float: right;
            .¥ {
              color : #e80f66;
            }
            .number {
              @include fontsize(24);
              color: #e80f66;
          }
        }
      }
    }
      .quantity {
        border-top: solid 1px $background-daken;
        margin-bottom: 4px;
        @include display-flex;
        @include justify-content(space-between); 
        h2 {
          margin: 15px 0;
          width: 32%;
        }
        div {
          text-align: center;
          width: 68%;     
          margin-top: 12px;
        }
          .quantity_box {
            display: inline-block;
            width: 130px;
            height: 30px;
            border: solid 1px $background-daken;
      }
    }
      .cart {
        border-top: solid 1px $background-daken;
        text-align: center;
          img {
            margin-top: 13px;
      }
    }
    .discription {
      padding-top: 20px;
      h3 {
        margin-bottom: 13px;
        @include fontsize(15);
        letter-spacing: 0.05em;
      }
      h4 {
        padding: 15px 0 6px;
        border-top: solid 1px $sub-gold;
        @include fontsize(14);
        letter-spacing: 0.05em;
          span.square {
            display: inline-block;
            width: 11px;
            height: 11px;
            background: $sub-gold;
            margin-right: 2px;
        }
      }
      p {
        margin-bottom : 20px;
      }
      table {
        width: 100%;
        border: solid 1px $background-daken;
        margin-bottom: 30px;
        th, td {
          padding: 8px 7px 4px;
          border: solid 1px $background-daken;
          @include fontsize(12);
          font-weight: 400;
          color: $sub-gold;
            &:first-child {
              background: $background;
              text-align: center;
              width: 28%;
            }
            &:nth-child(2) {
              width: 72%;
          }
        }
      }
    }  
  } 
}
// details sp

@media (min-width: 550px) {
  #main {

    .back_white {
      #pro_details {
        .pro_name {
          margin-bottom: 20px;
        }
        .flex-container {
          @include display-flex;     // イメージ大とサムネイルをflex
          margin-bottom:20px;

          #display_img {
            flex: 5 5 ;
          }
          #list_img {
            flex: 2 2 ;
            box-sizing: border-box;
            margin: 0 0 0 8px;
            @include display-flex;     // サムネイルをflex
            @include justify-content(space-between); // 最初と最後のアイテムは端に、残りは等間隔で配置 (cf.space-around)
            @include flex-wrap(wrap); //行の折り返しあり (cf.nowrap)
            li {
              box-sizing: border-box;
              width: calc( ( 100% - 8px ) / 2 );
              margin: 0;
                &:nth-child(n+3) {
                  padding-top: 5px;  // 高さを一度整えておけば、その比率で拡大縮小してくれるみたい
              }
            }
          } 
        }
        .color_and_size {
          table {
            margin-bottom: 16px;
          }
        }
          .price_and_quantity {
            width: 56%;
            float: left;
            .quantity {
              .quantity_box {
                width: 75%;
              }
            }
          }
          .cart {
            width: 40%;
            border-top: none;
            text-align: right;
            float: right;
            img {
              margin-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 549px) {
  .clear_padding_max549 {
    width: 100%;
    padding:0;
  }
}

@media (min-width: 550px) {
  .clear_margin_min550
     {
    max-width: 100%;
    width: 100%;
    }
}





// details pc
// details


// @media (min-width: 550px) {  #clear_margin_min550 {    max-width: 100%;    width: 100%;  }}

